{% extends 'base.html' %}
{% load tailwind_filters %}


{% block content %}

    <div class="w-screen ml-10 mt-5">
        <p class="text-gray-700 text-2xl mb-4">
            Are you sure, you really want to delete "{{ lead }}" lead ?!
        </p>

        <div class="flex">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="flex">
                    <input class="flex ml-auto mr-0 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"
                           value="Yes, Delete"
                           type="submit">
                    <a href="{% url 'leads:lead-detail' pk=lead.id %}"
                       class="flex ml-3 mr-auto text-white bg-gray-400 border-0 py-2 px-6 focus:outline-none hover:bg-gray-500 rounded">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

