{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM website</title>

    <!-- CSS file -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- tailwindcss link -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="max-w-7xl mx-auto">
    {% include 'navbar.html' %}
    {% block content %}{% endblock content %}
</div>

{% include 'scripts.html' %}

</body>
</html>